/.gradle

/.idea/modules/app/FaceBlit.app.iml
/FaceBlit.iml


/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

/build
/captures

/app/build
/app/.cxx

#DLIB
/dlib-19.21/docs
/dlib-19.21/examples
/dlib-19.21/python_examples
/dlib-19.21/tools
/dlib-19.21/CMakeLists.txt
/dlib-19.21/documentation.html
/dlib-19.21/ISSUE_TEMPLATE.md
/dlib-19.21/MANIFEST.in
/dlib-19.21/README.md
/dlib-19.21/setup.py

#NDK
/app/.externalNativeBuild

#VS
/VS/.vs
/VS/x64